.order_rating {
    display: flex;
    justify-content: center;
    align-items: center;

    .star {
        margin-bottom: 6px;
        margin-right: 10px;
    }

    .position_1 {
        color: #ffd700;
    }

    .position_2 {
        color: #c0c0c0;
    }

    .position_3 {
        color: #cd7f32;
    }
}