.lesson {
    display: flex;

    .lessonContainer {
        flex: 6;

        .singleLesson {
            display: flex;
            flex-direction: column;
            padding: 40px;
            justify-content: center;

            .addTask {
                color: white;
                background-color: #6439ff;
                padding: 10px;
                font-size: 15px;
                border-radius: 20px;
                text-decoration: none;
            }
            
            h2 {
                font-size: 52px;
                color: #6439ff;
                font-weight: 700;
                margin-bottom: 40px;
            }

            h3 {
                margin-top: 20px;
                color: #6439ff;
            }

            .video {
                display: flex;
                justify-content: center;
                padding: 30px;
                iframe {
                    width: 800px;
                    height: 500px;
                }
            }

            .tasks{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 20px;
            }
        }
    }
}