.game {
    width: 700px;
    min-height: 300px;
    border-radius: 30px;
    padding: 40px;
    background-color: #fff;
    position: relative;
    margin: auto auto;

    .inform {
      display: flex;
      justify-content: space-between;
      p {
        font-weight: 500;
        font-size: 17px;
        color:#6a5be2;
      }
      .isSolveAttempt {
        .correct {
          color: green;
        }
        .error {
          color: red;
        }
      }
    }

    .text_field_block {
      .success {
        border: 3px solid green;
      }
      .error {
        border: 3px solid red;
      }
      .noAttempt {
        border: none;
      }
      .text_field {
        margin-bottom: 10px;
      }
    }
    
    .button_block {
      display: flex;
      justify-content: center;
      .toAnswer {
        font-weight: bold;
        border-radius: 30px;
        border: 0;
        font-size: 20px;
        background-color: #6a5be2;
        padding: 10px 10px;
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
      }
    }
    
  
    .result {
      text-align: center;
  
      button {
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
        border-radius: 30px;
        border: 0;
        padding: 15px 30px;
        font-size: 20px;
        background-color: darken(#ff006e, 3%);
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
      }
  
      h2 {
        margin-bottom: 0;
      }
  
      img {
        width: 150px;
      }
    }
  
    &:before,
    &:after {
      content: '';
      display: block;
      height: 50px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  
    &:before {
      width: 95%;
      bottom: -10px;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 0;
    }
  
    &:after {
      width: 90%;
      bottom: -20px;
      background-color: rgba(255, 255, 255, 0.3);
      z-index: 1;
    }
  
    h1 {
      margin: 0;
    }

    h2 {
      margin-bottom: 50px;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        padding: 15px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
  
        &:hover {
          border: 2px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }