.taskItem {
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 3px solid rgb(144, 8, 255);
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;

    .text {
        font-size: 15px;
        color: white;
        font-weight: 700;
    }
}

.select_task {
    border: 3px solid yellow;
}

.firt_attempt {
    background-color: grey;
}

.solve_task {
    background-color: rgb(5, 184, 5);
}

.not_solve_task {
    background-color: rgb(255, 33, 33);
}