.course {
    display: flex;

    .courseContainer {
        flex: 6;

        .addCourse {
            display: flex;
            flex-direction: column;
            padding: 40px;
            justify-content: center;
            align-items:center;
            
            h2 {
                font-size: 52px;
                color: #6439ff;
                font-weight: 700;
                margin-bottom: 60px;
            }

            span {
                font-size: 20px;
                color: #6439ff;
                font-weight: 700;
                margin-bottom: 15px;
            }

            .save {
                width:fit-content;
                align-self:center;
            }
        }
    }
}