.header {
    height: 77px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-color);
    background:linear-gradient( var(--primary-color), var(--secondary--color));

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .top {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
    
            .logo {
                font-size: 40px;
                font-weight: 600;
                color: var(--text-color);
            }
    
            a {
                text-decoration: none;
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                :hover{
                    color: var(--primary-color);
                }
                display: flex;
                align-items: center;
                margin-right: 30px;
                cursor: pointer;

                .icon {
                    font-size: 25px;
                }

                span {
                    font-size: 15px;
                }
            }
        }
    }
}